@model List<Hotel.Areas.Client.Models.RoomViewModelCL>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var room in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/Hinh/@room.RoomImage" height="150" width="250" class="img-responsive card-img-top" alt="Room Image">
                <div class="card-body">
                    <h5 class="card-title">@room.RoomNumber</h5>
                    <p class="card-text">@room.RoomDescription</p>
                    <p class="card-text">Price: @room.RoomPrice</p>
                    <p class="card-text">Capacity: @room.RoomCapacity</p>
                    <p class="card-text">Type: @room.RoomTypeName</p>
                    @*<a href="@Url.Action("BookRoom", "Home", new { roomId = room.RoomId })" class="btn btn-primary">Book</a>*@
                    <a href="@Url.Action("BookRoom", new { id = room.RoomId })" class="btn btn-primary">Book Room</a>

                </div>
            </div>
        </div>
    }
</div>

