@model Hotel.Models.RoomBooking

@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>Booking Confirmation</h2>

<div>
    <h3>Booking Information</h3>
    <p>Customer Name: @Model.CustomerName</p>
    <p>Customer Address: @Model.CustomerAddress</p>
    <p>Customer Phone: @Model.CustomerPhone</p>
    <p>Booking From: @Model.BookingFrom</p>
    <p>Booking To: @Model.BookingTo</p>
    <p>Total: @Model.Total</p>
</div>

<div>
    @Html.ActionLink("Quay về trang chủ", "Index")
</div>

