@model Hotel.Models.RoomBooking

@{
    ViewBag.Title = "Đạt phòng thành công";
}

<h2>Thông tin đặt phòng</h2>

<div>
    <p>Họ và tên: @Model.CustomerName</p>
    <p>Địa chỉ: @Model.CustomerAddress</p>
    <p>Số điện thoại: @Model.CustomerPhone</p>
    <p>Từ ngày: @Model.BookingFrom</p>
    <p>Đến ngày: @Model.BookingTo</p>
    <p>Thành tiền: @Model.Total</p>
</div>

<div>
    @Html.ActionLink("Quay về trang chủ", "Index")
</div>

