@model Hotel.Areas.Client.Models.BookingViewModelCL

@{
    ViewBag.Title = "Search Rooms";
}

<h2>Search Rooms</h2>

@using (Html.BeginForm("SearchRooms", "ClientHome", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.BookingFrom)
        @Html.EditorFor(m => m.BookingFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookingTo)
        @Html.EditorFor(m => m.BookingTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NoOfMember)
        @Html.TextBoxFor(m => m.NoOfMember, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>

